body {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	background-color: #2f3840;
	color: white;
}
.heading_peer {
	font-size: 24pt;
	font-family: "Trebuchet MS";
	color: white;
	font-style: italic;
}
h1 {
	text-align: center;
}

.media-control-btn {
	color: white;
	background-color: black;
	border-radius: 50%;
	height: 10%;
	width: 10%;
	border: 2px solid white;
}
img {
	height: 50%;
	width: 50%;
}
.media-control-btn:hover {
	color: white;
	background-color: black;

	border: 2px solid white;
}
.flexCol {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
.media-control-btn {
	position: relative;
	background-color: black;
	border-radius: 100%;
	font-size: 16px;
	color: black;
	padding: 0.8em 1.8em;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	height: 60px;
	width: 30px;
}

.media-control-btn:hover {
	transition-duration: 0.1s;
}

.media-control-btn-icon {
	height: 30px;
	width: 30px;
	background: transparent;
}

button {
	height: 10%;
	width: fit-content;
	border: none;
	background: white;
	position: relative;
	border-radius: 5px;
	color: #2f3840;
	font-size: 1.7em;
	font-weight: 500;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
button:hover {
	background: #009ddd;
	color: #2b2d2f;
}

input[type="text"] {
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

input[type="text"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

#chat {
	display: flex;
	margin: 10px 80px;
	height: 50vh;
	justify-content: center;
}

.video-box {
	position: relative;
	margin: 5px 25px;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.75);
	border: 2px solid white;
	border-radius: 25px;
}

.video-screen {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	object-fit: cover;
	border-radius: 25px;
}

.active-button {
	background: 009DDD;
	color: #fff;
}
.description {
	margin-top: 20px;
}

#button1,
#button2 {
	display: inline-block;
}
#toast-container > div {
	opacity: 0.99 !important;
}
.charts {
	text-align: center;
}
.individualChart {
	display: inline-block;
	margin: 10px;
	color: white;
	justify-content: center;
	text-align: center;
}
canvas {
	background-color: #fff;
}
a {
	color: white;
	text-decoration: none;
}

.msgcard {
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.2);
}

/* chat box styling */
.chat-log {
	overflow: auto;
	height: calc(75vh);
	color: black;
}

.chat-log_item {
	background: #eaeaea;
	padding: 10px;
	margin: 10px;
	max-width: 95%;
	min-width: 3%;
	float: left;
	font-size: 17px;
	font: proxima nova;
	border-radius: 0 20px 20px 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	clear: both;
}

.chat-log_item.chat-log_item-own {
	float: right;
	background: white;
	text-align: right;
	margin-right: 0.7rem;
	border-radius: 20px 0 20px 20px;
}

.chat-form {
	background: #dddddd;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.chat-log_author {
	margin: 0 auto 0em;
	font-size: 12px;
	font-weight: bold;
}

.chat-log_time {
	margin: 0 auto 0.5em;
	direction: rtl;
	font-size: 12px;
	opacity: 0.5;
}
#messages_container {
	border: 2px solid white;
	border-radius: 5px;
	margin-right: 100px;
	margin-left: 100px;
	height: 500px;
}
.heading_peer {
	padding-top: 0%;
	margin-left: 100px;
	margin-right: 100px;
}
#chat_text {
	width: 88%;
	margin-left: 6%;
}
.send_response {
	margin-left: 6%;
	margin-right: 100px;
}

/* general css */
.stats-box {
	margin: 10px;
	padding-left: 20px;
}

input {
	background-color: #2f3840;
	color: white;
}
