body {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	/* background-image: url("https://images.pexels.com/photos/2061219/pexels-photo-2061219.jpeg"); */
	/* background-size: 100% 23%; */
	background-color: #2f3840;
	color: white;
	/* background-repeat: no-repeat; */
}
.heading_peer {
	font-size: 24pt;
	font-family: "Trebuchet MS";
	color: white;
	/* border-bottom: 2px dashed #e3052d; */
	font-style: italic;
}
h1 {
	text-align: center;
}

.media-control-btn {
	color: white;
	background-color: black;
	border-radius: 50%;
	height: 10%;
	width: 10%;
	border: 2px solid white;
}
img {
	height: 50%;
	width: 50%;
}
.media-control-btn:hover {
	color: white;
	background-color: black;

	border: 2px solid white;
}
.flexCol {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
.media-control-btn {
	position: relative;
	background-color: black;
	border-radius: 100%;
	font-size: 16px;
	color: black;
	padding: 0.8em 1.8em;
	cursor: pointer;
	text-align: center;
	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	height: 60px;
	width: 30px;
}

.media-control-btn:hover {
	transition-duration: 0.1s;
}

.media-control-btn-icon {
	height: 30px;
	width: 30px;
	background: transparent;
}

button {
	height: 10%;
	width: fit-content;
	border: none;
	background: white;
	position: relative;
	border-radius: 5px;
	color: #2f3840;
	font-size: 1.7em;
	font-weight: 500;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
button:hover {
	background: #009ddd;
	color: #2b2d2f;
}

input[type="text"] {
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

input[type="text"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

#chat {
	display: flex;
	margin: 10px 80px;
	height: 50vh;
	justify-content: center;
}

.video-box {
	position: relative;
	margin: 5px 25px;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.75);
	border: 2px solid white;
	border-radius: 25px;
}

.video-screen {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	object-fit: cover;
	border-radius: 25px;
}

.active-button {
	background: 009DDD;
	color: #fff;
}
.description {
	margin-top: 20px;
}

#button1,
#button2 {
	display: inline-block;
	/* additional code */
}
#toast-container > div {
	opacity: 0.99 !important;
}
.charts {
	text-align: center;
}
.individualChart {
	display: inline-block;
	margin: 10px;
	color: white;
	justify-content: center;
	text-align: center;
}
canvas {
	background-color: #fff;
}
a {
	color: white;
	text-decoration: none;
}
